@import url('https://fonts.googleapis.com/css2?family=Suwannaphum&display=swap');


nav {
  display: flex;
  padding: 15px 40px;
  justify-content: space-between;
  align-items: center;

  font-family: 'Suwannaphum', sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

nav .header {
  font-size: 22px;
}

nav ul {
  display: flex;
  gap: 12px;
  list-style: none;
  
  font-size: 18px;
}

.post-list {
  font-family: monospace;
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-list .header {
  font-size: 30px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

.post-card {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  font-size: 22px;
}

.post-card .title {
  text-transform: capitalize;
  color:darkblue;
}

.post-card .content {
  font-size: 20px;
}

.post-card .timestamp {
  font-size: 18px;
  font-style: italic;
}